{% extends "trix/trixadmin/base.django.html" %}
{% load extjs %}
{% block headextra %}
{{ block.super }}

<script>
    Ext.require('devilry.administrator.DefaultCreateWindow');
    Ext.require('devilry.extjshelpers.RestfulSimplifiedEditPanel');
    Ext.require('devilry.extjshelpers.ButtonBarButton');
    Ext.require('devilry.extjshelpers.ButtonBar');
    Ext.require('trix.forms.Exercise');
    Ext.require('trix.forms.Topic');
    Ext.require('trix.forms.PeriodExercise');

    {{ RestfulSimplifiedExercise|extjs_model }},
    {{ RestfulSimplifiedTopic|extjs_model }},
    {{ RestfulSimplifiedPeriodExercise|extjs_model }},
    {{ RestfulSimplifiedPeriod|extjs_model }};


    Ext.onReady(function(){
        Ext.create('devilry.extjshelpers.ButtonBar', {
            renderTo: 'createbuttonbar',
            width: 600,
            items: [{
                xtype: 'buttonbarbutton',
                text: 'Topic',
                iconCls: 'icon-add-32',
                tooltipCfg: {
                    title: '<span class="tooltip-title-current-item">Topic</span> &rArr; Exercise &rArr; Link exercise and period',
                    body: 'A topic for exercise\'s topics and prerequisites.'
                },
                handler: function() {
                    Ext.create('trix.DefaultCreateWindow', {
                        title: 'Create new topic',
                        editpanel: Ext.ComponentManager.create({
                            xtype: 'restfulsimplified_editpanel',
                            model: {{ RestfulSimplifiedTopic|extjs_modelname }},
                            editform: Ext.widget('administrator_topicform')
                        }),
                        successUrlTpl: Ext.create('Ext.XTemplate', '')
                    }).show();
                }
            }, {
                xtype: 'buttonbarbutton',
                text: 'Exercise',
                iconCls: 'icon-add-32',
                tooltipCfg: {
                    title: 'Topic &rArr; <span class="tooltip-title-current-item">Exercise</span> &rArr; Link exercise and period',
                    body: 'An exercise that goes in the exercise database.'
                },
                handler: function() {
                    Ext.create('trix.DefaultCreateWindow', {
                        title: 'Create new exercise',
                        editpanel: Ext.ComponentManager.create({
                            xtype: 'restfulsimplified_editpanel',
                            model: {{ RestfulSimplifiedExercise|extjs_modelname }},
                            editform: Ext.widget('administrator_exerciseform')
                        }),
                        successUrlTpl: Ext.create('Ext.XTemplate', '')
                    }).show();
                }
            },  {
                xtype: 'buttonbarbutton',
                text: 'Link exercise and period',
                iconCls: 'icon-add-32',
                tooltipCfg: {
                    title: 'Topic &rArr; Exercise &rArr; <span class="tooltip-title-current-item">Link exercise and period</span>',
                    body: 'Link an exercise and a period.'
                },
                handler: function() {
                    Ext.create('trix.DefaultCreateWindow', {
                        title: 'Create new exercise',
                        editpanel: Ext.ComponentManager.create({
                            xtype: 'restfulsimplified_editpanel',
                            model: {{ RestfulSimplifiedPeriodExercise|extjs_modelname }},
                            editform: Ext.widget('administrator_periodexerciseform')
                        }),
                        successUrlTpl: Ext.create('Ext.XTemplate', '')
                    }).show();
                }
            }]
        });
    Ext.QuickTips.init();
});
</script>
{% endblock %}

{% block main %}
<div id="createbuttonbar"></div>
{% endblock %}
