{% extends "trix/base.django.html" %}
{% load extjs %}
{% load i18n %}

{% block title %}{% trans "Exercises" %}{% endblock %}

{% block nav-class %}trix{% endblock %}

{% block headextra %}
<link rel="stylesheet" href="{{DEVILRY_STATIC_URL }}/trix/print.css"
      type="text/css" media="print" charset="utf-8"/>

<script type="text/javascript">
  toggleExc = function(link) {
    elem = link;
    while (elem && elem.getAttribute("class") != "exctext") {
      do {
        elem = elem.nextSibling;
      } while (elem.nodeType !== 1);
    }

    if (elem) {
      if (elem.style.display == 'none') {
        elem.style.display = 'block';
        link.innerHTML = "{% trans "Hide exercise" %}";
      } else {
        elem.style.display = 'none';
        link.innerHTML = "{% trans "Show exercise" %}";
      }
    }
  }

  var statuses = Array();
  var unsolved = "{% trans "Unsolved" %}";
  var change_str = "{% trans "Change status" %}";
  var reset_str = "{% trans "Reset status" %}";
  {% for status in statuses %}
    statuses[{{ status.id }}] = "{{status.name}}";
  {% endfor %}
</script>
<script src="{{DEVILRY_STATIC_URL}}/trix/setstatus.js"></script>

<script type="text/javascript">
</script>
{% endblock %}

{% block onready %}
{{ block.super }}
  var DASHBOARD_URL = '{{ DEVILRY_URLPATH_PREFIX }}/trix/';
  // Models
  {{ restfulapi.RestfulSimplifiedPeriod|extjs_model:"subject" }};
  {{ restfulapi.RestfulSimplifiedTopic|extjs_model }};
{{ restfulapi.RestfulSimplifiedPeriodExercise|extjs_model:"exercise,period" }};
{% comment %}
  {{ restfulapi.RestfulSimplifiedExercise|extjs_model }};
  {{ restfulapi.RestfulSimplifiedStatus|extjs_model }};
  {{ restfulapi.RestfulSimplifiedExerciseStatus|extjs_model }};
{% endcomment %}

  // Test extjs_store
  {{ restfulapi.RestfulSimplifiedPeriod|extjs_store }};
  {{ restfulapi.RestfulSimplifiedTopic|extjs_store }};
  {{ restfulapi.RestfulSimplifiedPeriodExercise|extjs_store }};
{% comment %}
  {{ restfulapi.RestfulSimplifiedStatus|extjs_store }};
  {{ restfulapi.RestfulSimplifiedExercise|extjs_store }};
  {{ restfulapi.RestfulSimplifiedExerciseStatus|extjs_store }};
{% endcomment %}

    var searchwidget = Ext.create('trix.TrixSearchWidget', {
    //renderTo: 'searchwidget-container',
        hidden: true,
        urlPrefix: DASHBOARD_URL,
        periodRowTpl: '{{ restfulapi.RestfulSimplifiedPeriod.ExtjsModelMeta.combobox_tpl|escapejs }}',
        topicRowTpl: '{{ restfulapi.RestfulSimplifiedTopic.ExtjsModelMeta.combobox_tpl|escapejs }}',
        exerciseRowTpl: '{{ restfulapi.RestfulSimplifiedPeriodExercise.ExtjsModelMeta.combobox_tpl|escapejs }}',
    });
    searchwidget.loadInitialValues();

    Ext.getBody().unmask();
    Ext.create('Ext.container.Viewport', {
        layout: 'border',
        style: 'background-color: transparent',
        items: [{
            region: 'north',
            xtype: 'trixheader',
            navclass: 'student'
        }, {
            region: 'south',
            xtype: 'trixfooter'
        }, {
            region: 'center',
            xtype: 'container',
            border: false,
            region: 'center',
            padding: {left: 20, right: 20},
            flex: 2,
            layout: {
                type: 'vbox',
                align: 'stretch'
            },
            items: [searchwidget, {xtype: 'box', height: 20}, {
                xtype: 'box',
                flex: 1,
                autoScroll: true,
                html:
{% comment %}
{% if user.is_authenticated %}
'<!--' +
'<div class="levelinfo">'+
  {% include "trix/xpbar.django.html" %}
'  <div>{% trans "Total points" %}:'+
'    <span id="total_points">{{ level.total_points }}</span>'+
'  </div>'+
'</div>'+
'-->'+
{% endif %}
{% endcomment %}

{% if topics %}
'<div class="topics">{% trans "Topics" %}:' +
  {% for id, topic in topics.items %}
'  <a href="/trix/topic/{{ id }}">{{ topic.name }}</a>' +
  {% endfor %}
'</div>' +
{% endif %}

{% if prerequisites %}
'<div class="topics">{% trans "Prerequisites" %}:' +
  {% for id, prerequisite in prerequisites.items %}
'  <a href="/trix/topic/{{ id }}">{{ prerequisite.name }}</a>' +
  {% endfor %}
'</div>' +
{% endif %}

'<div id="perioddropdown"></div>'
{% for p, p_excs in exercises.items %}
+ '<table class="exercises">' +
'  <caption>{{ p.parentnode.long_name|escapejs }} - {{ p.long_name|escapejs }}</caption>{% comment %}' +
'  <thead>' +
'    <tr>' +
'      <th' +
'         {% if statuses %}class="maincol"{% endif %}' +
'         >{% trans "Exercise" %}</th>' +
      {% if statuses %}
'      <th>{% trans "Status" %}</th>' +
      {% comment %}
      {% for status in statuses %}
'      <th class="statusbutton">{{ status.name|escapejs }}</th>' +
      {% endfor %}
'      <th class="statusbutton">{% trans "Unsolved" %}</th>' +
      {% endcomment %}{% comment %}
      {% endif %}
'    </tr>' +
'  </thead>{% endcomment %}' +
'  <tbody>' +
    
    {% for e in p_excs.values %}
'    <tr>' +
'      <td {% if statuses %} class="maincol">' +
'        <a class="dispexc" href="javascript:void(0)" onClick="toggleExc(this)">' +
          {% if e.status == -1 %}
'          {% trans "Hide exercise" %}' +
          {% else %}
'          {% trans "Show exercise" %}' +
          {% endif %}
'        </a>' +
        {% else %}>' +
        {% endif %}
'        <h3>' +
'          {{ e.number }}.&nbsp;{% if e.starred %}<img src="{{DEVILRY_STATIC_URL}}/trix/icons/star.png" />&nbsp;{% endif %}{{ e.title|escapejs }}' +
          {% autoescape off %}
'          &mdash;&nbsp;{{ e.points }}&nbsp;{% trans "points" %}</h3>' +
'        <div class="exctext" {% if statuses and e.status != -1 %}' +
'             style="display: none"{% endif %}>{{ e.text|escapejs }}</div>' +
        {% endautoescape %}
'      </td>' +
      {% if statuses %}
'      <td class="statusbutton">' +
'        <div class="choices" {% if e.status != -1 %}style="display: none;"{% endif %}>{% for status in statuses %}<a href="javascript:void(0)" onclick="setStatus(this, {{e.id}}, {{status.id}})">{{status.name|escapejs}}</a>&nbsp;{% endfor %}</div>' +
'        <div class="status" {% if e.status == -1 %}style="display: none;"{% endif %}>{{ e.status_name }} - <a href="javascript:void(0)" onclick="showChoices(this)">{% trans "Change status" %}</a> <a href="javascript:void(0)" onclick="setStatus(this, {{e.id}}, \'-1\')">{% trans "Reset status" %}</a></div>' +
'      </td>' +
      {% endif %}
'    </tr>' +
    {% endfor %}
'  </tbody>' +
'</table>'
{% endfor %}
            }]
        }]
    });

  searchwidget.show();

  Ext.create('devilry.extjshelpers.formfields.ForeignKeySelector', {
  fieldLabel: '{% trans "View period" %}',
  model: {{ restfulapi.RestfulSimplifiedPeriod|extjs_modelname }},
  renderTo: 'perioddropdown',
  displayTpl: '{long_name}',
  dropdownTpl: '{long_name}',
  setRecordValue: function(record) {
  document.location.href=("/trix/period/" + record.data.id);
  }
  });
{% endblock %}
{% block bodyContent %}
{% endblock %}
