#main { font-size: 12pt; margin: 1em; }
h3    { font-weight: bold;
        margin: 0.5em 0; }
i     { font-style: italic; }
b     { font-weight: bold; }
table { width: 80%; margin: 1em 0; }
caption { font-size: 120%; font-weight: bold; }
th    { font-weight: bold; font-size: 110%; padding: 0.25em 0; }
tr    { border-bottom: 1px solid #246; }
td    { padding: 0.25em 0; }
pre   { border-color: #CCC;
        border-style: dashed dashed dashed solid;
        border-width: 1px 1px 1px 4px; }
.maincol { min-width: 70%; max-width: 100%; }
.statusbutton { text-align: center; }
.dispexc { margin: 0.5em; font-size: 1em !important; }
#bq   { background-color: #EEE;
        margin: 0.5em 0.5em 0.5em;
        padding: 1em; }

.exercises { clear: both; }

.xptopic { float: left; margin-right: 1em; }
.xpbar { background-color: #0077B3; position: relative; float: left; z-index: 1; border: 1px solid #0077B3; }
.xpbar > div { background-color: #8f8; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; text-indent: 1em;}
.xpbar + * { clear: left; }

.portrait { position: relative; float: left;  border: 10px dashed #77B300; margin-right: 2em }
.userinfo { position: relative; top: 15px; font-size:15px; }
.levelinfo { clear: left; }

.userdata { float: left; width: 30%; }
.activity { float: left; width: 27%; }
.stats { float: left; width: 43%; margin-right: 2em; padding: 1em; }



header > nav.trix {
    border-bottom: 10px solid #0077B3;
}

header > nav li.trix-navitem a {
    background-color: #0077B3;
    color: #F7FFE5;
}

header > nav li.trix-navitem a:hover {
    background-color: #0088CC;
}
