{% extends "trix/base.django.html" %}

{% load i18n %}

{% load extjs %}

{% block title %}Profile{% endblock %}

{% block nav-class %}student{% endblock %}

{% block headextra %}
  <link rel="stylesheet" href="{{ DEVILRY_STATIC_URL }}/trix/style.css" />
  <link rel="stylesheet" media="print"
        href="{{ DEVILRY_STATIC_URL }}/trix/print.css" />

  <script type="text/javascript"src="{{DEVILRY_STATIC_URL}}/extjstrix/profilestats.js"></script>
  <script src="{{DEVILRY_STATIC_URL}}/extjstrix/statisticsmodels.js"></script>
{% endblock %}

{% block top % }
Tabellen under ser du
{% endblock % }

{% block main %}
<!-- Make this only available for Beta users
<div class="levelinfo">
  {% include "trix/xpbar.django.html" %}<br />
  {% trans "Total points" %} : {{ level.total_points }} <br /><br />
</div>

<div class="userdata">
<br /><br />
<div class="portrait">
  <img src="{{DEVILRY_STATIC_URL }}/trix/Portraits/{{ portrait }}"/>
</div>

<div class="userinfo">
  {% trans "Name" %}: {{ user.first_name }} {{ user.last_name }}<br />
  {% trans "Username" %}: {{ user.username }}<br />
  email: {{ user.email }} <br /><br />
  {% trans "last login" %}: {{ user.last_login }}<br /><br />
</div>
-->

<div>
<div id="grid" class="grid">
  <strong>Hva er dette?</strong><br />
  Tabellen under viser en oversikt over hvordan du har jobbet hittil i
  semesteret. Etterhvert som du har kommet et stykke ut i semesteret vil dataene
  under fortelle deg hvilke deler av pensum du har jobbet mye eller lite
  med.<br />
  <strong>Hva kan jeg bruke det til?</strong><br />
  Det fungerer som et verkt&oslash;y for &aring; se
  hvilke omr&aring;der av pensum det kan v&aelig;re lurt &aring; jobbe mer med. Et viktig m&aring;l
  er &aring; gj&oslash;re n&oslash;kkeloppgaven hver uke.
</div>

<div id="stats" class="stats">
<strong>Grafisk framstilling</strong>
  {% trans "New User" %}
  {% trans "Make new user" %}
</div>
</div>
{% endblock %}
