{% extends "trix/base.django.html" %}

{% load i18n %}

{% load extjs %}

{% block title %}Profile{% endblock %}

{% block nav-class %}student{% endblock %}

{% block headextra %}
  <link rel="stylesheet" href="{{ DEVILRY_STATIC_URL }}/trix/style.css" />
  <link rel="stylesheet" media="print"
        href="{{ DEVILRY_STATIC_URL }}/trix/print.css" />

  <script type="text/javascript"src="{{DEVILRY_STATIC_URL}}/extjstrix/profilestats.js"></script>
  <script src="{{DEVILRY_STATIC_URL}}/extjstrix/statisticsmodels.js"></script>
{% endblock %}

{% block main %}
<div id="stats" class="stats"></div>

<div class="levelinfo">
  {% include "trix/xpbar.django.html" %}<br />
  <!--Points needed to reach level {{level.next_level }}: {{ level.points_needed }}<br />-->
  Total points : {{ level.total_points }} <br /><br />
</div> 
<br /><br />
<div class="portrait">
  <img src="{{DEVILRY_STATIC_URL }}/trix/Portraits/{{ portrait }}" />
</div>

<div class="userinfo">
  Name: {{ user.first_name }} {{ user.last_name }}<br />
  Username: {{ user.username }}<br />
  email: {{ user.email }} <br /><br />
</div>

last login: {{ user.last_login }}<br /><br />
{% endblock %}
