{% extends "trix/base.django.html" %}

{% load i18n %}

{% load extjs %}

{% block title %}Profile{% endblock %}

{% block nav-class %}student{% endblock %}

{% block headextra %}
  <link rel="stylesheet" href="{{ DEVILRY_STATIC_URL }}/trix/style.css" />
  <link rel="stylesheet" media="print"
        href="{{ DEVILRY_STATIC_URL }}/trix/print.css" />

  <script type="text/javascript"src="{{DEVILRY_STATIC_URL}}/extjstrix/profilestats.js"></script>
  <script src="{{DEVILRY_STATIC_URL}}/extjstrix/statisticsmodels.js"></script>
{% endblock %}

{% block top %}

<div class="stats">
<div id="grid" class="grid">
  <strong>Tabell</strong><br />
  Gir deg oversikt over hvor mange oppgaver du har gjort innenfor en
  uke eller et tema. Du velger periode/temavisning i fanene under.
  Poenget med tabellen er at du lett kan se hvilke deler av pensum du
  kan jobbe mer med. Det er spesielt viktig å gjøre nøkkeloppgavene
  hver uke.<br /><br />
</div>

<div id="graph" class="graph">
<strong>Stolpediagram</strong><br />
  Her er dataene fra tabellen presentert i et prosentdiagram. Klikk på
  fanene under for å se hvordan du har gjort det innenfor en uke eller
  et tema. Deretter kan du velge å vise Poeng eller Innsats. Er
  Innsats på 100% betyr det at du har gjort alle oppgavene innenfor den kategorien.
  Har du samtidig bare 80% av poengene i samme kategori betyr det at du har fått
  hjelp til en del av oppgavene. Løser du en oppgave selv vil du få
  maks poeng, imens en oppgave som løses med hjelp gir litt mindre
  poeng.<br /><br />
</div>
</div>
{% endblock %}

{% block main %}
<!-- Make this only available for Beta users
<div class="levelinfo">
  {% include "trix/xpbar.django.html" %}<br />
  {% trans "Total points" %} : {{ level.total_points }} <br /><br />
</div>

<div class="userdata">
<br /><br />
<div class="portrait">
  <img src="{{DEVILRY_STATIC_URL }}/trix/Portraits/{{ portrait }}"/>
</div>

<div class="userinfo">
  {% trans "Name" %}: {{ user.first_name }} {{ user.last_name }}<br />
  {% trans "Username" %}: {{ user.username }}<br />
  email: {{ user.email }} <br /><br />
  {% trans "last login" %}: {{ user.last_login }}<br /><br />
</div>
-->

{% endblock %}
