{% extends "trix/base.django.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block heading %}{% trans "Log in" %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}

{% if login_failed %}
	<p class='error'>{% trans "Invalid username or password." %}</p>
{% endif %}

{% if not register %}
<form method='post' action='{% url login %}'>
  <table>
		{{ form.as_table}}
	</table>
	<p>
		<input type='submit' name='login' value='{% trans "Log in" %}'/>
	        <input type="submit" name="registerlink" formaction="{% url register %}" value="{% trans "New User" %}" />
	</p>

</form>
{% else %}
<form method='post' action='{% url register %}'>
  <table>
		{{ form.as_table}}
	</table>
	<p>
		<input type='submit' name='new_user' value='{% trans "Make new user" %}'/>
	</p>

</form>
{% endif %}

{% endblock %}
